/* Riftbar Style Configuration */
/* Place this file at: ~/.config/riftbar/style.css */

/* Global window styling */

@import "theme.css";


* {
    all: unset; /*Remove the useless GTK theme rules*/
    font-family: "CaskaydiaMono Nerd Font, JetBrainsMono Nerd Font","Fira Mono";
    font-weight: 700;
    font-size: 12.5px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.riftbar {
    background: rgba(17, 17, 27, 0);
    color: @fg-main;
}


/* Workspaces theme */
.workspaces {
    color: transparent;
    margin-right: 1.5px;
    margin-left: 1.5px;
    border-radius: 12px;
    border: 2px solid @border-main ;
    background-color: @bg-main;
    padding: 0px 20px;
}
.workspaces button {
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 2px 10px;
    margin: 3px 1px;
    color: @bg-main;
    background-color: @bg-third;
    border-color: @bg-main;
    border-radius: 10px;
}

.workspaces button.active {
    color: @bg-main;
    border-radius: 8px;
    background: @fg-main;
    padding: 2px 20px;
}

/* Network widget */
.network {
    background-color: #181825;
    border-radius: 8px;
    color: #a6e3a1;
}

.network:hover {
    background-color: #313244;
}

.network.disconnected {
    color: #f38ba8;
}

/* Styling for common buttons */
.mpris, .clock, .network {
    font-family: "Symbols Nerd Font", "CaskaydiaMono Nerd Font";
    background-color: @bg-main;
    font-weight: bold;
    border-radius: 16px;
    padding: 0px 10px;
    border: 0px solid @border-main;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Hover styling for common buttons */
.mpris:hover, .clock:hover {
    background-color: @bg-hover;
}

