/* Riftbar Style Configuration */
/* SCSS version of style.css */
/* Global reset */
* {
  all: unset;
  font-family: "CaskaydiaMono Nerd Font, JetBrainsMono Nerd Font", "Fira Mono";
  font-weight: 700;
  font-size: 12.5px;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Riftbar main container */
.riftbar {
  margin-top: 6px;
  background: rgba(17, 17, 27, 0);
  color: #ebdbb2;
}

/* Tooltip */
tooltip {
  background-color: #3c3836;
  padding: 4px;
  border-radius: 10px;
  border: 2px solid #BDAE93;
}

/* Workspaces */
.workspaces {
  color: transparent;
  margin-right: 1.5px;
  margin-left: 1.5px;
  border-radius: 12px;
  border: 2px solid #BDAE93;
  background-color: #3c3836;
  padding: 0px 20px;
}
.workspaces button {
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 2px 10px;
  margin: 3px 2px;
  color: #3c3836;
  background-color: #7c6f64;
  border-color: #3c3836;
  border-radius: 10px;
}
.workspaces button.active {
  color: #3c3836;
  border-radius: 8px;
  background: #ebdbb2;
  padding: 2px 20px;
}
.workspaces button:hover {
  background: #fabd2f;
  color: #3c3836;
}

/* Common modules */
.mpris,
.clock,
.network,
.audio,
.battery,
.custom-mako,
.custom-search,
.custom-settings,
.custom-arch {
  background-color: #3c3836;
  border-radius: 16px;
  padding: 0px 10px;
  border: 0px solid #BDAE93;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.mpris label,
.clock label,
.network label,
.audio label,
.battery label,
.custom-mako label,
.custom-search label,
.custom-settings label,
.custom-arch label {
  font-family: "Symbols Nerd Font", "CaskaydiaMono Nerd Font";
  font-weight: bold;
}
.mpris:hover,
.clock:hover,
.network:hover,
.audio:hover,
.battery:hover,
.custom-mako:hover,
.custom-search:hover,
.custom-settings:hover,
.custom-arch:hover {
  background-color: #504945;
}

/* Custom Mako modules Styling */
.custom-mako {
  border-radius: 10px;
  padding: 0px 8px;
  color: #ebdbb2;
  background-color: #3c3836;
  min-width: 25px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
  border: 2px solid #BDAE93;
  border-radius: 10px;
}
.custom-mako label {
  font-size: 20px;
}

/*  Custom Modules in Left side */
.custom-arch, .custom-search, .custom-settings {
  padding: 0px 7px;
}

/* Clock */
.clock {
  padding: 0px 7px;
  margin: 0px 5px;
  margin-left: 14px;
}
.clock label {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: 900;
}

/* MPRIS */
.mpris {
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 0px;
  margin: 0px 8px;
  min-width: 90px;
}
.mpris.paused {
  color: #7c6f64;
}

/* QuickCenter Widgets */
.network,
.audio,
.battery {
  min-width: 18px;
  background-color: transparent;
  padding: 0px 2px;
}
.network label,
.audio label,
.battery label {
  font-size: 15px;
}
.network:hover,
.audio:hover,
.battery:hover {
  background-color: transparent;
}

/* Box Widgets */
.box-quickcenter,
.revealer-quickcenter {
  background-color: #504945;
  border-radius: 15px;
  padding: 0px 8px;
  margin: 0px 10px;
}
.box-quickcenter:hover,
.revealer-quickcenter:hover {
  background-color: #7c6f64;
}

/* Sides */
.box-right_side,
.box-left_side {
  border: 2px solid #BDAE93;
  border-radius: 10px;
  background-color: #3c3836;
}

/* Left side */
.box-left_side {
  padding: 0px 10px;
  margin: 0px 10px;
}

/* Right side */
.box-right_side {
  margin: 0px 10px;
  padding: 0px 10px 0px 2px;
}

/*# sourceMappingURL=style.css.map */
