@use "theme" as theme;

/* Riftbar Style Configuration */

/* Global reset */

* {
	all: unset;
	font-family:
		"CaskaydiaMono Nerd Font, JetBrainsMono Nerd Font, M+1 Nerd Font";
	font-weight: 700;
	font-size: 12.5px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Riftbar main container */
.bar-container {
    margin-top: 6px;
	padding-bottom: 3px;
    background: rgba(17, 17, 27, 0);
	color: theme.$fg_main;
    min-height: 22px;
}

.riftbar {
  margin-bottom: 0px;
}

/* Tooltip */
tooltip {
	background-color: theme.$bg_main;
	padding: 4px;
	border-radius: theme.$border_radb;
	border: 2px solid theme.$border_main;
}

/* Workspaces */
.workspaces {
	color: transparent;
	margin-right: 1.5px;
	margin-left: 1.5px;
	border-radius: theme.$border_rad + 2;
	border: 2px solid theme.$border_main;
	background-color: theme.$bg_main;
	padding: 0px 20px;

	button {
		transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
		padding: 2px 10px;
		margin: 3px 2px;
		color: theme.$bg_main;
		background-color: theme.$bg_third;
		border-color: theme.$bg_main;
        border-radius: theme.$border_rad + 2;

		&.active {
			color: theme.$bg_main;
			border-radius: theme.$border_radb - 2;
			background: theme.$fg_main;
			padding: 2px 20px;
		}

		&:hover {
			background: theme.$bg_hover;
			color: theme.$bg_main;
		}
	}
}

/* Common modules */
.custom-module,
.module {
	background-color: theme.$bg_main;
	border-radius: calc( theme.$border_radb / 1.05);
	padding: 0px 10px;
	border: 0px solid theme.$border_main;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);

	label {
		font-family: "CaskaydiaMono Nerd Font";
		font-weight: bold;
	}

	&:hover {
		background-color: theme.$bg_second;
	}

    &:active {
		background-color: theme.$bg_hover;
	}
}

/* Custom Mako modules Styling */
.custom-mako {
    border-radius: 10px;
    padding: 0px 7px;
    padding-right: 10px;
    color: theme.$fg_main;
    background-color: theme.$bg_main;
    min-width: 25px;
    margin: 0px 5px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    border: 2px solid theme.$border_main;
    border-radius: theme.$border_rad;
    
    label {
      font-size: 18px;
  }
}

/*  Custom Modules in Left side */
.custom-arch, .custom-search, .custom-settings {
  padding: 0px 6px;
  padding-left: 8px;
  margin: 0px 2px;
}

/* Tray Styling */
.tray {
  padding: 0px 10px;
}

.tray-menu {
    background-color: transparent;
    border: 0px solid transparent;
    contents {
      padding: 2px 3px;
      background-color: theme.$bg_main;
      border: 2px solid theme.$border_main;
      border-radius: calc(theme.$border_radb/2);
      box {
      border-radius: calc(theme.$border_radb/2);
      
      modelbutton {
        margin: 1px 0px;
        padding: 1px 2px;
        border-radius: calc(theme.$border_radb/2);
        
        &:hover {
          background-color: lighten($color: theme.$bg_main, $amount: 14);
        }

        &:active {
        }

        &:disabled {
        }
      }

      separator {
      }
    }
  }

  arrow {
  }
}

/* Clock */
.clock {
	padding: 0px 7px;
	margin: 0px 5px;

	label {
		font-family: "JetBrainsMono Nerd Font";
		font-size: 14px;
		font-weight: 900;
	}
}

/* MPRIS */
.mpris {
	transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
	padding: 0px 10px;
	margin: 0px 8px;
	min-width: 90px;

	&.paused, &.stopped {
	    color: rgba(mix(theme.$fg_main, #888, 60%), 0.65);
    }
}

/* QuickCenter Widgets */
.network,
.audio,
.battery {
    background-color: transparent;
	padding: 0px 2px;
    
    label {
        min-width: 28px;
      	font-size: 15px;
    }

    &:hover {
      background-color: transparent;
    } 
}

/* Box Widgets */
.box-quicksettings {
	background-color: theme.$bg_second;
	border-radius: theme.$border_radb + calc(theme.$border_radb / 2);
	padding: 0px 8px;
	margin: 0px 8px;

	&:hover {
	  background-color: theme.$bg_hover;
	}

    &:active {
      background-color: lighten($color: theme.$bg_hover, $amount: 9);
    }
}

/* Revealers */ 
.revealer-tray {
    border-radius: theme.$border_radb;
	padding: 0px 10px;
    margin-left: 18px;
    margin-right: 2px;

  &:hover {
    background-color: theme.$bg_second;
  }
}

/* Sides */
.box-right,
.box-left {
	border: 2px solid theme.$border_main;
	border-radius: theme.$border_rad;
	background-color: theme.$bg_main;
}

/* Left side */
.box-left {
	padding: 0px 10px;
	margin: 0px 10px;
}

/* Right side */
.box-right {
	margin: 0px 0px;
	padding: 0px 10px 0px 2px;
}

