// Binary Theme

$fg_main: #B4BEFE;

$border_main: $fg_main;
$border_alt: $fg_main;

$bg_main: #11111B;
$bg_alt: #1B1B30;
$bg_hover: #484872;
$bg_hover_alt: #30304D;
$bg_tooltip: $bg_main;
$bg_second: #33334C;
$bg_third: #939CDA;

$ply_main: #25253B;
$ply_hover: #363657;
$ply_act: #515181;

$border_rad:  10px; // Main border radius
$border_rad2: 20px; // Second
$border_radb: 10px; // Button
$border_rads: 5px; // Scale
