@use "theme" as theme;

/* Riftbar Style Configuration */

/* Global reset */

* {
	all: unset;
	font-family:
		"CaskaydiaMono Nerd Font, M+1 Nerd Font";
	font-weight: 700;
	font-size: 12.5px;
}

/* Riftbar main container */
.bar-container {
	color: theme.$fg_main;
}

.riftbar {
  margin-bottom: 2px;
  background: theme.$bg_main;
}

/* Tooltip */
tooltip {
	background-color: theme.$bg_main;
	padding: 4px;
	border-radius: theme.$border_rad;
	border: 2px solid theme.$border_main;
}

/* Workspaces */
.workspaces {
	margin-right: 1.5px;
	margin-left: 1.5px;
	padding: 0px 20px; 

	button {
		transition: all 0s cubic-bezier(0.165, 0.84, 0.44, 1);
		padding: 5px 4px;
		color: theme.$fg_main;
        border-radius: 0px;

		&.active {
			padding: 0px 7px;
            background-color: theme.$bg_second;
            border-bottom: 3px solid theme.$fg_main;
		}

		&:hover {
			background: theme.$bg_hover;
		}
	}
}

/* Common modules */
.custom-module,
.module
{
	background-color: theme.$bg_main;
	border-radius: theme.$border_radb;
	padding: 0px 10px;
	border: 0px solid theme.$border_main;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);

	label {
		font-family: "CaskaydiaMono Nerd Font";
		font-weight: bold;
	}

	&:hover {
		background-color: theme.$bg_second;
	}
 
	&:active {
		background-color: theme.$bg_hover;
	}
}

/* Custom Mako modules Styling */
.custom-mako {
    padding: 0px 7px;
    padding-right: 10px;
    color: theme.$fg_main;
    background-color: theme.$bg_second;
    min-width: 25px;
    margin-right: 10px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    label {
      font-size: 20px;
  } 
	&:hover {
		background-color: theme.$bg_hover;
	}
}

/*  Custom Modules in Left side */
.custom-arch, .custom-search, .custom-settings{
  margin: 0px 2px;
  padding: 0px 7px;
  padding-left: 9px; 
}

/* Clock */
.clock {
	padding: 0px 5px;
	margin: 0px 3px;

	label {
		font-size: 13.6px;
	}
}

/* MPRIS */
.mpris {
	transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
	padding: 0px 10px;
	min-width: 60px;

	&.paused, &.stopped {
        color: rgba(mix(theme.$fg_main, #888, 60%), 0.65);
	}
}

/* QuickCenter Widgets */
.network,
.audio,
.battery {
    background-color: transparent;
	padding: 0px 2px;
    
    label {
        min-width: 28px;
      	font-size: 15px;
    }

    &:hover {
      background-color: transparent;
    } 
}

/* Box Widgets */
.box-quicksettings {
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
	background-color: theme.$bg_second;
	border-radius: theme.$border_radb;
	padding: 0px 8px;
	margin: 0px 10px;

	&:hover {
		background-color: theme.$bg_hover;
	}
    &:active {
      background-color: lighten($color: theme.$bg_hover, $amount: 9);
    }
}

/* Revealers */ 
.tray {
  padding: 0px 10px;
}

.tray-menu {
    background-color: transparent;
    border: 0px solid transparent;
    contents {
      padding: 2px 3px;
      background-color: theme.$bg_main;
      border: 2px solid theme.$border_main;
      border-radius: calc(theme.$border_radb/2);
      box {
      border-radius: calc(theme.$border_radb/2);
      
      modelbutton {
        margin: 1px 0px;
        padding: 1px 2px;
        border-radius: calc(theme.$border_radb/2);
        
        &:hover {
          background-color: lighten($color: theme.$bg_main, $amount: 14);
        }

        &:active {
        }

        &:disabled {
        }
      }

      separator {
      }
    }
  }

  arrow {
  }
}

/* Sides */
.box-right,
.box-left {
	border-radius: theme.$border_rad;
	background-color: theme.$bg_main;
}

/* Left side */
.box-left {
	padding: 0px 10px;
	margin: 0px 6px;
}

/* Right side */
.box-right {
	margin: 0px 0px;
	padding: 0px 10px 0px 2px;
}

.custom-seperator {
  min-width: 30px;
}
