// Theme (Gruvbox)

$fg_main: #ebdbb2;
$fg_unactive: #928374;

$border_main: #BDAE93;
$border_alt: #BDAE93;

$bg_main: #3c3836;
$bg_alt: #504945;
$bg_hover: #91846A;
$bg_hover_alt: #665c54;
$bg_tooltip: #3c3836;
$bg_second: #504945;
$bg_third: #7c6f64;

$ply_main: #665c54;
$ply_hover: #83A598;
$ply_act: #fabd2f;

$border_rad:  0px; // Main border radius
$border_rad2: 0px; // Second
$border_radb: 4px; // Button
$border_rads: 2px; // Scale
